Repository pravinmishraaws/petclinic-platform, changes with the owners that CODEOWNERS names for each.
All owners: @pravinmishraaws, @PO1, @PO2, @infra-team, @sre-team, @ops-team, @cicd-team

CODEOWNERS:

/vendor/petclinic/**  @pravinmishraaws @PO1 @PO2
/terraform/**         @infra-team
/k8s/**               @sre-team
/ansible/**           @ops-team
/docs/**              @PO1 @PO2 @sre-team
/pipelines/**         @cicd-team

Adding placeholder files
  .DS_Store
  README-SNIPPET.md
  README.md
  ansible/README.md
  ansible/inventory.ini
  ansible/playbooks/site.yml
  docs/01-architecture.md
  docs/02-application-flow.md
  docs/03-database.md
  docs/04-security.md
  docs/05-observability.md
  docs/06-ci-cd.md
  docs/07-operations-runbook.md
  docs/08-known-issues-playbook.md
  docs/09-onboarding.md
  docs/10-release-notes.md
  docs/Manual-Bring-Up.md
  docs/STUDENT-GUIDE.md
  k8s/.DS_Store
  k8s/base/README.md
  k8s/base/deployment-placeholder.yaml
  k8s/base/namespaces.yaml
  k8s/base/service-placeholder.yaml
  k8s/base/serviceaccount.yaml
  k8s/envs/.DS_Store
  k8s/envs/dev/README.md
  k8s/envs/prod/README.md
  k8s/envs/staging/README.md
  pipelines/.DS_Store
  pipelines/azure-devops/azure-pipelines.yml
  terraform/README.md
  terraform/backend.tf
  terraform/providers.tf
  terraform/variables.tf
  terraform/versions.tf
Owners: @ops-team, @PO1, @PO2, @sre-team, @cicd-team, @infra-team

Update STUDENT-GUIDE.md
  STUDENT-GUIDE.md
Owners: none

Update PO-Brief.md
  PO-Brief.md
Owners: none

Update PO-Brief.md
  PO-Brief.md
Owners: none

PETPLAT-003-Automate-Jira-setup
  docs/jira-board.md
Owners: @PO1, @PO2, @sre-team

PETPLAT-003-Automate-Jira-setup
  .claude/rules/helm.md
  .claude/rules/kubernetes.md
  .claude/rules/pipelines.md
  .claude/settings.local.json
  .claude/skills/deploy-dev/SKILL.md
  .mcp.json
  CLAUDE.md
  README.md
  docs/jira-backlog.md
  docs/technical-spec.md
  scripts/env-status.sh
  scripts/start-env.sh
  scripts/stop-env.sh
Owners: @PO1, @PO2, @sre-team
